/* Resetar estilos básicos */
body,
h1,
h2,
ul,
li,
input,
label,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-size: 16px;
}

body {
  color: var(--primary-color);
  font-size: var(--font-size);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #4a90e2;
}

.file-input {
  margin-bottom: 20px;
  position: relative;
  width: 200px;
  margin: 0 auto;
}

input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

label[for="csvFile"] {
  display: inline-block;
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

label[for="csvFile"]:hover {
  background-color: #357abd;
}

.days-filter {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.days-filter h2 {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.days-filter label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

input[type="checkbox"] {
  margin-right: 8px;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

.result {
  margin-top: 20px;
  text-align: left;
}

.result h2 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}
